<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Strona główna</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>Witaj</h1>
      <ul>
        <li>
          <a href="/">Strona główna</a>
        </li>
        <li>
          <a href="/o-nas">O nas</a>
        </li>
        <li>
          <a href="/oferta">Oferta</a>
        </li>
        <li>
          <a href="/kontakt">Kontakt</a>
        </li>
      </ul>
    </header>
    <main>
      <h1>Strona główna</h1>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam
        temporibus ipsa architecto, commodi iusto hic repellendus sapiente
        reprehenderit sit dignissimos aliquid quaerat aut a rerum asperiores
        suscipit facilis? At maiores magni odio temporibus reprehenderit. Nihil
        facere aliquam doloribus adipisci magnam deleniti cumque hic voluptatem,
        veritatis iste, error, fugit corporis obcaecati quod omnis voluptatum
        doloremque minus! Saepe voluptatem incidunt sint tempore id! Id, alias a
        consequatur libero necessitatibus, cupiditate expedita aliquam iusto
        sint vero animi odit nulla illo repellendus totam temporibus magni autem
        quisquam corrupti quo blanditiis aut itaque! Iste expedita, nam alias
        nisi voluptatibus ab animi accusamus illo vel. Accusantium.
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Maiores
        reiciendis iusto, tempora repellat deserunt minus architecto dolore nemo
        culpa quibusdam! Quidem, deleniti expedita. Aut necessitatibus facere
        accusantium dignissimos, vel praesentium atque provident aliquid
        voluptas beatae magnam ab delectus laboriosam quis laudantium corporis
        veniam consequuntur mollitia explicabo. Laborum accusamus repellendus
        ea.
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto
        assumenda aperiam culpa omnis, dolores voluptatibus animi corporis velit
        explicabo vitae, illo numquam consequuntur neque totam fuga itaque
        laboriosam dicta veritatis. Vitae aut voluptate nihil doloremque non
        perspiciatis illo sapiente in libero repellendus, velit maxime
        accusantium fugiat earum est nam doloribus commodi optio quos ex cumque
        minus error molestiae quaerat. Adipisci.
      </p>
    </main>
    <footer>Filip Kasperski 4c</footer>
  </body>
</html>
