<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Oferta</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <header>
      <h1>Witaj</h1>
      <ul>
        <li>
          <a href="/">Strona główna</a>
        </li>
        <li>
          <a href="/o-nas">O nas</a>
        </li>
        <li>
          <a href="/oferta">Oferta</a>
        </li>
        <li>
          <a href="/kontakt">Kontakt</a>
        </li>
      </ul>
    </header>
    <main>
      <h1>Oferta</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque tempora
        laboriosam quaerat amet. Fugiat harum autem inventore veritatis, et sunt
        corrupti architecto est velit ab itaque ipsa officiis! Perferendis
        ratione nulla dicta repudiandae voluptates nihil cum dolore a odit
        libero! Quos deleniti, earum ullam quisquam amet ab voluptas impedit?
        Voluptas!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem saepe
        porro temporibus cumque aliquam officiis! Impedit facere ex quis
        voluptate doloribus, ipsam libero dicta molestiae incidunt? Officia
        commodi corporis ut modi repellendus unde quaerat nemo id explicabo
        dolor sapiente obcaecati tempore cupiditate doloribus rem, iure maxime
        mollitia voluptatum sunt pariatur esse maiores in? Reiciendis quam
        culpa, doloremque quas at aliquam!
      </p>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos
        perspiciatis sit accusamus hic sed, nihil magni incidunt quas corrupti
        labore dolor quo sapiente minus facere, quasi cumque obcaecati harum
        rem?
      </p>
      <table>
        <tr>
          <th>Usługa</th>
          <th>Cena</th>
        </tr>
        <tr>
          <td>Strony interetowe</td>
          <td>100000zł</td>
        </tr>
        <tr>
          <td>Sklepy internetowe</td>
          <td>200000zł</td>
        </tr>
        <tr>
          <td>Złozenie kompa</td>
          <td>5000zł</td>
        </tr>
      </table>
    </main>
    <footer>Filip Kasperski 4c</footer>
  </body>
</html>
